body{
    background-color: #444;
}

.wrapper{
    border: 3px solid blue;
    background-color: blueviolet;
    text-align: center;
    font-family: 'degi';
}
.wrapper2{
    border: 3px solid #888abc;
    background-color: #1c4e35;
    text-align: center;
    font-family: 'japan2';
}
.b-wrapper{
    width: 80%;
    margin: 0 auto;
}

p{
    font-size: 54px;
}
#time2{
    font-size: 72px;
    color: snow;
}

span{
    color: tomato;
    font-size: 36px;
}

button{
    width: 30%;
    height: 56px;
    font-size: 46px;
    background-color: #faf8f1;
    border: 5px solid #0086ad;
}
.button2{
    font-family: 'japan2';
}    
.reset{
    color: crimson;
}

@media screen and (max-width: 480px){
    .b-wrapper{
        display: flex;
        flex-flow: column;
    }
    button{
        margin: 0 auto 15px;
        width: 70%;
        padding-bottom: 20px;
    }
}